main #form_consultar {
  text-align: center;
  justify-content: center;
  padding-top: 150px;
  display: flex;
}
main .grupo {
  justify-content: center;
  text-align: center;
  width: 400px;
  border: lightblue 2px solid;
  background-color: #2e86c1;
  box-shadow: 0px 0px 10px 5px black;
}
main #form_consultar .grupo label {
  color: white;
}

main #form_consultar .grupo input {
  display: block;
  margin: auto;
}

main #form_consultar .grupo button {
  margin-top: 10px;
}

#form_consultar input {
  display: block;
}
