main {
  height: 74vh;
}
main #principal {
  text-align: center;
  height: 25vh;
  background-image: url("/images/fondo.jpg");

  padding-top: 50px;
}

main #productos {
  display: flex;
  justify-content: space-around;
}
main .producto {
  margin-top: 0;
  margin: 30px;
}
.center {
  text-align: center;
  margin: 10px;
}
.center img {
  width: 430px;
  height: 221px;
}

.encima {
  border: 2px solid white;
  color: white;
  background-color: black;
  font-size: 30px;
  display: grid;
}
a {
  text-decoration: none;
}
